*/*.attr
*.o
*.so
.Rhistory
*.attr
*.Rproj
.Rproj.user
src/*.so
vignettes/*.tif
vignettes/*.pdf
inst/doc
.RData
src/.Rapp.history
doc
Meta
vignettes/largevignettes/*ache/
vignettes/largevignettes/*igure/
