*/*.attr
*.o
*.so
.Rhistory
*.attr
*.Rproj
.Rproj.user
src/bioimagetools.so
vignettes/*.tex
vignettes/*.log
vignettes/*.synctex.gz
inst/doc
vignettes/*.tif
vignettes/Rplots.pdf
cran-comments.md
.RData
